dtd/SampleXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="SampleXML.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="author" maxOccurs="unbounded"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="genre" maxOccurs="unbounded" minOccurs="0" />
              <xs:element type="xs:float" name="price"/>
              <xs:element type="xs:date" name="publish_date">
                <xs:annotation>
                  <xs:documentation>date format: yyyy-mm-dd</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element type="xs:string" name="description" minOccurs="0"/>
              <xs:element type="xs:string" name="cover" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>cover image file name</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value=".*\.(jpg|png)"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="bk\d+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
